# Wazuh Credentials
INDEXER_USERNAME=admin
INDEXER_PASSWORD=SecretPassword
FILEBEAT_SSL_VERIFICATION_MODE=full
API_USERNAME=wazuh-wui
API_PASSWORD=MyS3cr37P450r.*-
DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD=kibanaserver

# Java Memory for Indexer
OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g

# Agent Config
WAZUH_AGENT_NAME=docker-agent